@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

h1{
    color:white;
    font-size:30px;
    font-family:'Noto Sans JP', sans-serif;
}

body{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #ffffff; 
    color:rgb(0, 0, 0);
    font-size:10px;
    font-family:'Noto Sans JP', sans-serif;
}
