
body{
    background-color: #000000;
    padding: 0px;
    margin: 0px;
  }

.title{
  position: relative;
}

.title h1 {
  position: absolute;/*絶対配置*/
  top: 0px;
  left: 0px;
  }

#gradient03{
    width: 100%;
    height: 30px;
    padding: 0px;
    margin: 0px;
    position: absolute;
    top:0px;
}
 
#gradient{
    width: 170px;
    height: 16px;
    padding: 0px;
    margin: 0px;
    position: absolute;
    top:130px;
}

#gradient02{
    width: 225px;
    height: 16px;
    padding: 0px;
    margin: 0px;
    position: absolute;
    top:350px;
}

#gradient04{
    width: 225px;
    height: 16px;
    padding: 0px;
    margin: 0px;
    position: absolute;
    top:925px;
}

 .example01{
   position:relative;
 }

 .example01 li{
   position:absolute;
   top:0px;
   left:740px;
 }

 .example01 .title1{
   top:925px;
   left:0px;
   color:white;
 }

 .example01 .blog1{
   top:950px;
   left:0px;
 }

.example01 .title2{
   top:350px;
   left:0px;
   color:white;
 }

 .example01 .blog2{
   top:375px;
   left:0px;
 }

.example01 .title3{
   top:130px;
   left:0px;
   color:white;
 }

 .example01 .blog3{
   top:155px;
   left:0px;
 }


 ul {
  list-style: none;
}
