
body{
    background-color: #000000;
    padding: 0px;
    margin: 0px;
  }
 
#gradient{
    width: 155px;
    height: 16px;
    padding: 0px;
    margin: 0px;
    position: absolute;
    top:20px;
}

#gradient02{
    width: 225px;
    height: 16px;
    padding: 0px;
    margin: 0px;
    position: absolute;
    top:800px;
}

 .example01{
   position:relative;
 }

 .example01 li{
   position:absolute;
   top:0px;
   left:740px;
 }

 .example01 .title1{
   top:800px;
   left:0px;
   color:white;
 }

 .example01 .blog1{
   top:825px;
   left:0px;
 }

.example01 .title2{
   top:20px;
   left:0px;
   color:white;
 }

 .example01 .blog2{
   top:45px;
   left:0px;
 }

 ul {
  list-style: none;
}
